.barra {
    width: 1114px;
    height:  80px; /* Altura automática para acomodar o conteúdo */
    background-color: #FDF1EB; /* Cor de fundo da barra */
    margin-top: -29px;
    display: flex;
    flex-direction: column; /* Orientação vertical */
    align-items: flex-start; /* Alinhamento à esquerda */
    margin-left: -90px;
}

.barra h6 {
    font-size: 7px; /* Tamanho da fonte para h6 */
    color: #725C5C; /* Cor do texto para h6 */
    margin: 5px 0; /* Margem superior e inferior para h6 */
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 0;
    margin-top: 30px;
    margin-left: 22px;
}

.barra h3 {
    font-size: 12px; /* Tamanho da fonte para h3 */
    color: #725C5C; /* Cor do texto para h3 */
    margin: 2px 0; /* Margem superior e inferior para h3 */
    font-weight: bold; /* Negrito para h3 */
    margin-left: 22px;    
}

.barra h5 {
    font-size: 7px; /* Tamanho da fonte para h6 */
    color: #725C5C; /* Cor do texto para h6 */
    margin: 5px 0; /* Margem superior e inferior para h6 */
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 0;
    margin-left: 22px;

}

imagemIdioma {
    width: auto; /* Ajuste a largura da imagem conforme necessário */
    height: 20px; /* Ajuste a altura da imagem para preencher a altura da barra */
    margin-right: 20px; /* Margem à direita para separar a imagem dos textos */
    margin-left: 400px;
  }