<div class="container">

  <div class="row">
    <div class="col-md-2">
      <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="col-md-8">
        <app-header></app-header>
        
        
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae at earum in voluptate quod, eius pariatur quos illum ullam, cupiditate, velit accusamus id! Quia iusto eos optio blanditiis animi fugit?</p>

    </div>

    <div class="col-md-2">
    <app-sidebar></app-sidebar>
    </div>

  <div class="row">
    <div class="col"> 
      <app-footer></app-footer>
    </div>
    </div>
  </div>
