<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="col-md-6">
      <div class="col-md-8">
        <app-header></app-header>
      </div>
      <div class="conteudoPrincipal">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
        <img src="../../assets/videoApresentacao.png">
        <div class="custom-box">
          <div class="custom-box-header">
            <h5>Resumo</h5>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsa
            <span class="btn-show-more" (click)="toggleShowMore()">ver mais</span>
          </p>
          <div class="expandido" *ngIf="showMore">
            <p>Conteúdo expandido </p>
          </div>
        </div>
        <div>
        <div class="custom-box">
          <div class="custom-box-header">
            <h5>Discussões</h5>
          </div>
          <div>
            <ng-container *ngIf="!showTopicForm && !submitted">
              <p class="text-compartilhe"> Compartilhe suas ideias ou dúvidas com os autores! </p>
            <div class="image-container">
              <img class="image-icon" src="../../assets/icone1.png">
              <img class="image-icon" src="../../assets/icone2.png">
              <img class="image-icon" src="../../assets/icone3.png">
            </div>
            <p class="text-questions"> Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
            <button class="btn-create-topic" id= "Criar topico" alt="criar tópico" (click)="toggleTopicForm()"> + criar tópico</button>
          </ng-container>
          </div>
          <ng-container *ngIf="showTopicForm && !submitted">
            <p class="text-questions"> Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
            <form (submit)="onSubmit()">
              <label class="label-form" for="Assunto">Assunto</label><br>
              <input class="subject" type="text" id="Assunto" name="Assunto" placeholder="Defina um tópico sucinto para notificar os autores..."><br>
              <label class="label-form" for="Conteúdo">Conteúdo</label><br>
              <textarea class="input-coment" id="Conteúdo" name="Conteúdo" rows="4" cols="50"></textarea><br>
              <div class="containerButton">
                <button class="button-enviar" id="btnEnviarTopicoId" type="submit">Enviar</button>
              </div>
            </form>
          </ng-container>
          

          <div *ngIf="submitted">
            
            <p class="success-message">Mensagem enviada com sucesso!</p>
            <button class="btn-create-topic" id="Criar novo topico">criar novo tópico</button>  
            <body>
            <p class="text-questions">Aguardando feedback dos autores</p>
            </body>
          
          </div>
          <div class="answered-topic" (click)="expandComment($event)">
            <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
            <p class="comments">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
            <img src="../../assets/maisInfo.png">
            <img src="../../assets/favoritar.png"> 1 like 1 resposta
          </div>
          <div class="comments-container">
            <!-- Conteúdo que será expandido -->
            <p>Adriano da Silva</p>
          </div>
          
        

        </div>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="row">
    <div class="col"> 
      <app-footer></app-footer>
    </div>
  </div>
</div>
