@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.conteudoPrincipal {
  width: 1000px;
  margin-left: -80px;
}


.custom-box {
    background-color: white;
    border: 1px solid #ECECEC;
    margin-bottom: 10px; /* Espaçamento entre os boxes */
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .custom-box-header {
    background-color: #FDF1EB;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .conteudoPrincipal h2 {
    font-size: 29px;
}
