@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.sidebar {
    width: 200px;
    background-color: #FFFFFF; /* Cor de fundo do menu */
    margin-top: 100px;

  }
  

  $font-roboto: 'Roboto', sans-serif;

// Aplique o estilo da fonte Roboto à classe .roboto-font
.roboto-font {
    font-family: $font-roboto;
}
