<div class="sidebar">

    <div class="custom-box">
        <div class="custom-box-header">
<h5> Detalhes </h5>
</div>
Tipo de Apresentação: Pôster
Eixo temático: Alimentação e saúde (AS) 
Palavras-chaves: Alimentos funcionais, alimentação escolar.

Autores:
Galileo Galilei¹
Berta Lange de Morretes²
Isaac Newton³
Cesar Lattes¹
Stephen Hawking⁴

¹Universidade Estadual de Campinas
²Universidade de São Paulo
³Instituto Nacional de Pesquisas Espaciais
⁴Universidade Federal do Rio de Janeiro</div>

</div>