<div class="sidebar">
    <div class="icones">
        <img src="../../assets/downloadButton.png" style="width: 100px; height: auto;">
        <img src="../../assets/favoriteButton.png" style="width: 30px; height: auto;">
        <img src="../../assets/doi.png" style="width: 30px; height: auto;">
    </div>
    <div>
        <p class="citar"> COMO CITAR ESSE TRABALHO? </p>
    </div>
    
    <div class="custom-box">
        <div class="custom-box-header">
            <h5> Detalhes </h5>
        </div>
        <p class="details-article"> Tipo de Apresentação: <strong> Pôster </strong> </p>
        <p class="details-article"> Eixo temático: <strong> Alimentação e saúde (AS) </strong> </p>
        <p class="details-article"> Palavras-chaves: <strong> Alimentos funcionais, alimentação escolar. </strong> </p>

        <p class="details-article">
            <strong> Autores: </strong>
            Galileo Galilei¹
            Berta Lange de Morretes²
            Isaac Newton³
            Cesar Lattes¹
            Stephen Hawking⁴
        </p>

        <p class="universities">
            ¹Universidade Estadual de Campinas
            ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais
            ⁴Universidade Federal do Rio de Janeiro
        </p>
    </div>