@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.sidebar {
    width: 200px;
    background-color: #FFFFFF; /* Cor de fundo do menu */
    margin-top: 80px;
    margin-left: 180px;

  }
  

  .custom-box {
    background-color: white;
    border: 1px solid #ECECEC;
    margin-bottom: 10px; /* Espaçamento entre os boxes */
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .custom-box-header {
    background-color: #FDF1EB;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .icones {
  display: inline-block;
  justify-content: space-between;
  padding: 10px 10px;
  }

.citar {    
  font-family: 'Roboto', sans-serif;
  color: #ED7839;
  font-size: 14px;

}

  .details-article {
    color: #5C5C5C;
    font-size: 14px;
  }

  .universities {
    color: #ADA0A0;
    font-size: 10px;
}

.imagemDownload {
  width: 100px; 
  height: auto;
  padding: 2px;
}

.imagemFavoritar {
  width: 40px; 
  height: auto;
  padding: 2px;
}

.imagemDoi {
  width: 40px; 
  height: auto;
  padding: 2px;
}

h5 {
  margin-left: 10px;
}